{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h2>Теми</h2>
{% endblock page_header %}

{% block content %}
  <ul class="list-group border-bottom pb-2 mb-4">
    {% for topic in topics %}
      <li class="list-group-item border-0">
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
      </li>
    {% empty %}
      <li class="list-group-item border-0">Жодної теми ще не було додано.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'learning_logs:new_topic' %}">Додати нову тему</a>
{% endblock content %}
